<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nonamespaceschemalocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="ipgpay_gateway" showindefault="1" showinstore="1" showinwebsite="1" sortorder="100" translate="label" type="text">
                <label>
                    IPGPAY
                </label>
                <field id="active" showindefault="1" showinstore="1" showinwebsite="1" sortorder="1" translate="label" type="select">
                    <label>
                        Enabled
                    </label>
                    <source_model>
                        Magento\Config\Model\Config\Source\Yesno
                    </source_model>
                </field>
                <field id="title" showindefault="1" showinstore="1" showinwebsite="1" sortorder="10" translate="label" type="text">
                    <label>
                        Title
                    </label>
                </field>
                <field id="payment_form_url" showindefault="1" showinstore="0" showinwebsite="1" sortorder="11" translate="label" type="text">
                    <label>
                        Payment Form URL
                    </label>
                </field>
                <field id="payment_form_id" showindefault="1" showinstore="0" showinwebsite="1" sortorder="12" translate="label" type="text">
                    <label>
                        Payment Form ID
                    </label>
                </field>
                <field id="secret_key" showindefault="1" showinstore="0" showinwebsite="1" sortorder="13" translate="label" type="text">
                    <label>
                        Secret Key
                    </label>
                </field>
                <field id="request_expiry" showindefault="1" showinstore="0" showinwebsite="1" sortorder="14" translate="label" type="text">
                    <label>
                        Request Expiry (Hours)
                    </label>
                </field>
                <field id="account_id" showindefault="1" showinstore="0" showinwebsite="1" sortorder="15" translate="label" type="text">
                    <label>
                        Account ID
                    </label>
                </field>
                <field id="api_key" showindefault="1" showinstore="0" showinwebsite="1" sortorder="16" translate="label" type="text">
                    <label>
                        API key
                    </label>
                </field>
                <field id="api_base_url" showindefault="1" showinstore="0" showinwebsite="1" sortorder="17" translate="label" type="text">
                    <label>
                        API base URL
                    </label>
                </field>
                <field id="test_mode" showindefault="1" showinstore="0" showinwebsite="1" sortorder="18" translate="label" type="select">
                    <label>
                        Test Mode
                    </label>
                    <source_model>
                        Magento\Config\Model\Config\Source\Yesno
                    </source_model>
                </field>
                <field id="order_status" showindefault="1" showinstore="1" showinwebsite="1" sortorder="20" translate="label" type="select">
                    <label>
                        New Order Status
                    </label>
                    <source_model>
                        IPGPAY\Gateway\Model\Config\Source\Order\Status\Pendingpayment
                    </source_model>
                    <!-- <source_model>adminhtml/system_config_source_order_status_new</source_model> -->
                </field>
                <field id="create_customers" showindefault="1" showinstore="0" showinwebsite="1" sortorder="21" translate="label" type="select">
                    <label>
                        Create Customer Entities
                    </label>
                    <source_model>
                        Magento\Config\Model\Config\Source\Yesno
                    </source_model>
                </field>
                <field id="merchant_rebilling" showindefault="1" showinstore="0" showinwebsite="1" sortorder="22" translate="label" type="select">
                    <label>
                        Merchant Managed Rebilling
                    </label>
                    <source_model>
                        Magento\Config\Model\Config\Source\Yesno
                    </source_model>
                </field>
                <field id="allowspecific" showindefault="1" showinstore="1" showinwebsite="1" sortorder="40" translate="label" type="allowspecific">
                    <label>
                        Payment from Applicable Countries
                    </label>
                    <source_model>
                        Magento\Payment\Model\Config\Source\Allspecificcountries
                    </source_model>
                </field>
                <field id="specificcountry" showindefault="1" showinstore="1" showinwebsite="1" sortorder="41" translate="label" type="multiselect">
                    <label>
                        Payment from Specific Countries
                    </label>
                    <source_model>
                        Magento\Directory\Model\Config\Source\Country
                    </source_model>
                    <can_be_empty>
                        1
                    </can_be_empty>
                </field>
                <field id="instructions" showindefault="1" showinstore="1" showinwebsite="1" sortorder="50" translate="label">
                    <label>
                        Instructions
                    </label>
                </field>
                <field id="use_popup" showindefault="1" showinstore="0" showinwebsite="1" sortorder="22" translate="label" type="select">
                    <label>
                        Use Popup
                    </label>
                    <source_model>
                        Magento\Config\Model\Config\Source\Yesno
                    </source_model>
                </field>
                <field id="sort_order" showindefault="1" showinstore="0" showinwebsite="1" sortorder="100" translate="label" type="text">
                    <label>
                        Sort Order
                    </label>
                    <frontend_class>
                        validate-number
                    </frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
