<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nonamespaceschemalocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <ipgpay_gateway>
                <active>
                    1
                </active>
                <title>
                    Credit Card (IPGPAY)
                </title>
                <order_status>
                    pending_payment
                </order_status>
                <instructions>
                    Instruction.
                </instructions>
                <payment_action>
                    true
                </payment_action>
                <model>
                    IPGPAY\Gateway\Model\IPGPAY
                </model>
                <group>
                    offline
                </group>
                <payment_form_url>
                </payment_form_url>
                <payment_form_id>
                </payment_form_id>
                <secret_key>
                </secret_key>
                <request_expiry>
                    24
                </request_expiry>
                <account_id>
                </account_id>
                <api_key>
                </api_key>
                <api_base_url>
                </api_base_url>
                <test_mode>
                    1
                </test_mode>
                <create_customers>
                    0
                </create_customers>
                <merchant_rebilling>
                    0
                </merchant_rebilling>
                <payment_action>
                    redirect
                </payment_action>
                <allowspecific>
                    0
                </allowspecific>
                <sort_order>
                    1
                </sort_order>
            </ipgpay_gateway>
        </payment>
    </default>
</config>